sample_logs_test.txt
sample_logs_train.txt
sample_logs_val.txt
data_and_plots_for_paper
*.ipynb
*ipynb_checkpoints
*__pycache__
*example_data
*saved_models
*.neptune
*_confs
*.yaml
*test_logs
*computer_logs
*preprocessed_data
archive
*plot_for_paper
*tmp
framework/data_preprocess/preprocessed*
framework/data_preprocess/example*
framework/data_preprocess/testing
framework/data_preprocess/conf
*.env


!framework/example.yaml